<section class="home">
  <h1 style="margin-bottom: 20px;">Welcome to Todos manager</h1>
  <p>If you do not have account</p>
  <a href="<%= new_user_path %>">Create account</a>
  <div style="margin-top: 20px;">
    <p>Already have account</p>
    <a href="<%= signin_path %>">Login</a>
  </div>
</section>
